/* Style sheet */

* {
  margin: 0px;
  padding: 0px;
}

/* Change background colour */
body {
  background-color: #557a8a;
  margin: 15px;
}


h1 {
  font-family: calibri; sans-serif;
  color: #ffffff;
  margin: 20px 0px 30px 0;
  line-height: 15px;
}


h2 {
  font-family: calibri; sans-serif;
  color: #ffffff;
  margin: 15px 15px 15px 0;
}


p {
  font-family: calibri; sans-serif;
  color: #ffffff;
  margin: 5px 5px 5px 0;
}

a {
  text-decoration: none;
  color: #004461;
  margin: 10px 0 10px 0px;
}


a:hover {
  text-decoration: underline;
  color: #004461;
}

ul{
  margin-bottom: 15px;
}

li {
  color: #ffffff;
  margin: 3px 3px 3px 25px;
  font-family: calibri; sans-serif;
}

/* format title and intro */
.head-container {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
}

.heading  {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header {
  text-align: center;
}

.left-side {
  margin-top: 15px;
}

.right-side {
  margin-left: 10px;
}
/* format cards */
.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 20px;
}

.card {
  border: 5px solid #115573;
  border-radius: 15px;
  overflow: hidden;
}

/* Dealing with images in cards */
.card > img {
  max-width: 100%;
  height: auto;
}

.card > p {
  margin: 0 10px 15px 12px;
}

.card > h2 {
  margin: 0 0 0 12px;
}
