.container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.left {
  background-color: #ff5555;
}

.right {
  background-color: #7788ff;
  grid-column: span 2;
}
