/* Grid stylesheet */

* {
  margin: 0px
  padding: 0px
}

body  {
  background-color: #000000;
}

p {
  color: #a4eb0f;
}



.navbar-container {
  position: sticky;
  top: 0;
  display: grid;
  padding: 20px;
  grid-template-columns: 2fr 2fr;
  background-color: #ff0000;
}

.navbar-links {

}

/* format cards */
.content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.card {
  border: 3px solid #ff0000;
  border-radius: 8px;
  overflow: hidden;
}

/* Dealing with images in cards */
.card > img {
  max-width: 100%;
  height: auto;
}

.card > p {
  margin-left: 10px;
}
